LOCK_KEEPER_URL=http://localhost:3000/api/v2
LOCK_KEEPER_TENANT=Game7
LOCK_KEEPER_USERNAME=game7_service_provider
LOCK_KEEPER_PASSWORD=password
LOCK_KEEPER_POLICY=noop_policy
LOCK_KEEPER_APPROVER_POLICY=approver_policy
LOCK_KEEPER_AUTH_ENTITY=approver_auth_entity